* {
  box-sizing: border-box;
  font-family: "Overpass", monospace, sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --primary-orange: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-dark-grey: hsl(220, 2%, 28%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
  /* media quires */
  --media-mobile: 375px;
  --media-desktop: 1440px;
  /* font */
  --font-size-p: 15px;
}

body {
  height: 100vh;
  width: 100vh;
  background-color: var(--neutral-very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  width: 60%;
  height: 60%;
  /* background-color: var(--neutral-dark-blue); */
  background: linear-gradient(
    180deg,
    var(--neutral-dark-blue),
    var(--neutral-dark-blue) /* var(--neutral-very-dark-blue) */
  );
  backdrop-filter: blur(25px);
  padding: 30px;
  border-radius: 25px;
  line-height: 3rem;
}
i {
  color: var(--primary-orange);
  background-color: var(--neutral-dark-grey);
  border-radius: 50%;
  padding: 10px;
}
h1 {
  color: white;
}

p {
  color: var(--neutral-white);
  font-size: var(--font-size-p);
  line-height: normal;
}
.submit {
  display: block;
  width: 90%;
  color: white;
  background-color: var(--primary-orange);
  border: transparent;
  border-radius: 25px;
}
.thanks {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
